// colors
$dull-orange: #e17334;
$white: #dde9ed;
$white-two: #ffffff;
$white-three: #d8d8d8;
$white-four: #f5f5f5;
$gun-metal: #54585a;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$brownish-grey: #6b6b6b;
$hospital-green: #a2deaf;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$azure: #00a0f5; 

// colors form_desingns part
$dark-green-blue: #114E4E;
$dirty-blue: #438792;
$hospital-green: #A2DEAF;
$dried-blood: #420101;
$tomato: #E95626;
$slate: #3E5B65;
$faded-orange: #EAB052;
$light-grey-blue: #A0C0CF;
$dark-pink: #A8147E;
$purple: #63057A;
$light-mauve: #D8ADF7;
$dark-grey: #121112;
$grey: #454345;
$light-grey: #918D91;

// font-sizes
$small: 1.28rem;
$medium: 1.4rem;
$large: 1.6rem;
$xtralarge: 1.92rem;
$xtraxtralarge: 2.4rem;


// font-families
$title: Merriweather;
$text: Open Sans;
$font-montserrat:'Montserrat', sans-serif;
