// fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-Montserrat:'Montserrat', sans-serif;

// colors
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$gun-metal:#54585a;
$dark-green-blue:#114e4e;  
$hospital-green:#a2deaf;
$white-two:#ffffff;