.mainLast{
    background-image: linear-gradient($white-four, $white-two);
}
@media (min-width: 768px) {
    .mainLast {
    display:flex;
    flex-direction: row-reverse;
    padding: 40px;
    }
    }
