.form_designs {


    display: flex;
    flex-direction: row;
    border: 0;

    @media (min-width:768px) {
        width: 50%;
    }

    &-leyend {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;

        .icon {
            font-size: 1.7rem;
        }

        &-div {
            display: flex;
            gap: 10px;

            h2 {
                font-size: 1.8rem;
                text-transform: uppercase;
                font-family: $text;
            }

            .main__section--logo {
                font-size: 1.6rem;
            }
        }
    }

    &-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 30px 20px 10px 40px;

        h3 {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: $text;
        }
    }
}



.form_designs_colors-div {

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;

    &-label {
        display: flex;
        flex-direction: row;

        &-span {
            width: 30px;
            height: 25px;
            background-color: palevioletred;
            display: inline;
        }
    }
}

.dark-green-blue {
    background-color: $dark-green-blue;
}

.dirty-blue {
    background-color: $dirty-blue;
}

.hospital-green {
    background-color: $hospital-green;
}

.dried-blood {
    background-color: $dried-blood;
}

.rusty-red {
    background-color: $rusty-red;
}

.tomato {
    background-color: $tomato;
}

.slate {
    background-color: $slate;
}

.faded-orange {
    background-color: $faded-orange;
}

.light-grey-blue {
    background-color: $light-grey-blue;
}

.dark-pink {
    background-color: $dark-pink;
}

.purple {
    background-color: $purple;
}

.light-mauve {
    background-color: $light-mauve;
}

.dark-grey {
    background-color: $dark-grey;
}

.grey {
    background-color: $grey;
}

.light-grey {
    background-color: $light-grey;
}