.form_designs {
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: 1px solid $white-three;
  // margin-top: 10px;
  // margin-left: 20px;
  // margin-right: 20px;

  &-leyend {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 10px 0;

    &-div {
      display: flex;
      align-items: baseline;
      gap: 15px;
      color: $gun-metal;
      font-size: 1.8rem;
      text-transform: uppercase;
      font-family: $text;
      font-weight: 600;

      .main__section--logo {
        font-size: 1.7rem;
      }
    }
  }

  &-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px 20px 10px 40px;

    h3 {
      color: $gun-metal;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-family: $text;
    }
  }
}

.form_designs_colors-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;

  &-label {
    display: flex;
    flex-direction: row;

    &-span {
      width: 30px;
      height: 25px;
      background-color: palevioletred;
      display: inline;
    }
  }
}

.dark-green-blue {
  background-color: $dark-green-blue;
}

.dirty-blue {
  background-color: $dirty-blue;
}

.hospital-green {
  background-color: $hospital-green;
}

.dried-blood {
  background-color: $dried-blood;
}

.rusty-red {
  background-color: $rusty-red;
}

.tomato {
  background-color: $tomato;
}

.slate {
  background-color: $slate;
}

.faded-orange {
  background-color: $faded-orange;
}

.light-grey-blue {
  background-color: $light-grey-blue;
}

.dark-pink {
  background-color: $dark-pink;
}

.purple {
  background-color: $purple;
}

.light-mauve {
  background-color: $light-mauve;
}

.dark-grey {
  background-color: $dark-grey;
}

.grey {
  background-color: $grey;
}

.light-grey {
  background-color: $light-grey;
}
.hidden {
  display: none;
}
