.action {
  text-align: center;
  margin: 30px;
}

.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
    darle los estilos que queremos */
  display: none;
}

.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
.profile__image {
  width: 300px;
  height: 300px;
}
