.main {
    background-color: $white-Four;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__h1 {
        color: $dull-orange;
        font-size: $xtralarge;
        font-family: $title;
        @media (min-width: 768px) {
            font-size: $xtraxtralarge;
        }
    }
    &__h2 {
        color: $dark-green-blue;
        font-size: $small;
        font-family: $text;
        width: 264.8px;
        height: 38.4px;
        @media (min-width: 768px) {
            font-size: $large;
            width: 331px;
            height: 48px;
        }
    }
    &__section {
        border: 1.6px solid rgba(225, 115, 52, 0.21);
        border-radius: 4px;
        display: flex;
        gap: 24px;
        margin: 17.8px 26.4px 38.6px 25.6px;
        padding: 15px 20px 10px 20px;
        @media (min-width: 768px) {
            margin: 27px 221px 287px 222px;
        }
        &--logo {
            color: $dull-orange;
            font-size: 22.4px;
            @media (min-width: 768px) {
                font-size: 28px;
            }
        }
        &--p {
            color: $gun-metal;
            font-size: $small;
            font-family: $text;
            @media (min-width: 768px) {
                font-size: $large;
            }
        }
    }
    &__link {
        text-decoration: none;
        background-color: $dirty-blue;
        color: $white-Two;
        font-size: $large;
        font-family: $text;
        font-weight: 600;
        text-transform: uppercase;
        width: 129px;
        height: 42px;
        border-radius: 21px;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 10px;
        @media (min-width: 768px) {
            margin-bottom: 59px;
        }
    }
}