.card{
    height: 450px;
    background:linear-gradient(to bottom, $silver, $pale-grey);
}

.reset{
        display: flex;
        align-items: center;
        color:$gun-metal;
        border: 2px solid $white-two;
        border-radius: 15px;
        width: 75px; 
        height: 30px;
        padding: 10px;
        gap: 10px;
        flex-direction: row-reverse;
        transform: translate(45px, 38px);

   &__text{
        font-family:$font-open-sans;
        text-transform: uppercase;
        font-size: 1.2rem; 
     }   
} 
.return{  
    &__ico{ 
    color: $gun-metal;
    font-size: 1.2rem;
    text-decoration: none;
      }
}
/*.description{
    background-color: $white-two;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 300px;
    display: flex;
    z-index: 1;
    
    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //max-width: 100%; 
        //max-height: 100%; 
        background-position: center center;
        //z-index: 100;

   }


}*/
