.share {
  border: none;
  border-bottom: 1px solid $white-three;
  // margin-top: 20px;
  margin-bottom: 30px;
  font-family: $text;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;

  &__legend {
    color: $gun-metal;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 10px 0;

    &--text {
      display: flex;
      align-items: baseline;
      gap: 15px;
    }
  }

  &__create {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: $dull-orange;
    width: 200px;
    height: 50px;
    color: $white-two;
    border-radius: 10px;
    border: none;
    margin: 30px auto;
  }
}
