<fieldset class="form_designs">
    <legend>colores</legend>

    <div class="form_designs-div">
        <input type="radio" name="color" id="" value="green" />
        <label for="green">
            <div class="form_designs-div-label">
                <div class="form_designs-div-label-div">1</div>
                <div class="form_designs-div-label-div">2</div>
                <div class="form_designs-div-label-div">3</div>
            </div>
        </label>
    </div>

    <div class="form_designs-div">
        <input type="radio" name="color" id="" value="red" />
        <label for="red">
            <div class="form_designs-div-label">
                <div class="form_designs-div-label-div">1</div>
                <div class="form_designs-div-label-div">2</div>
                <div class="form_designs-div-label-div">3</div>
            </div>
        </label>
    </div>

    <div class="form_designs-div">
        <input type="radio" name="color" id="" value="yellow" />
        <label for="yellow">
            <div class="form_designs-div-label">
                <div class="form_designs-div-label-div">1</div>
                <div class="form_designs-div-label-div">2</div>
                <div class="form_designs-div-label-div">3</div>
            </div>
        </label>
    </div>

    <div class="form_designs-div">
        <input type="radio" name="color" id="" value="pink" />
        <label for="pink">
            <div class="form_designs-div-label">
                <div class="form_designs-div-label-div">1</div>
                <div class="form_designs-div-label-div">2</div>
                <div class="form_designs-div-label-div">3</div>
            </div>
        </label>
    </div>


</fieldset>