<fieldset class="form_designs js-designs">
  <legend class="form_designs-leyend js-section">
    <div class="form_designs-leyend-div">
      <i class="fa-regular fa-object-ungroup main__section--logo"></i>
      Diseña
    </div>
    <i class="fa-solid fa-angle-down icon"></i>
  </legend>

  <div class="form_designs-div">
    <h3>colores</h3>
    <div class="form_designs_colors">
      <div class="form_designs_colors-div">
        <input type="radio" name="color" id="palette-1" value="" />
        <label for="green">
          <div class="form_designs_colors-div-label">
            <span
              class="form_designs_colors-div-label-span dark-green-blue"
            ></span>
            <span class="form_designs_colors-div-label-span dirty-blue"></span>
            <span
              class="form_designs_colors-div-label-span hospital-green"
            ></span>
          </div>
        </label>
      </div>

      <div class="form_designs_colors-div">
        <input type="radio" name="color" id="palette-2" value="" />
        <label for="red">
          <div class="form_designs_colors-div-label">
            <span class="form_designs_colors-div-label-span dried-blood"></span>
            <span class="form_designs_colors-div-label-span rusty-red"></span>
            <span class="form_designs_colors-div-label-span tomato"></span>
          </div>
        </label>
      </div>

      <div class="form_designs_colors-div">
        <input type="radio" name="color" id="palette-3" value="yellow" />
        <label for="yellow">
          <div class="form_designs_colors-div-label">
            <span class="form_designs_colors-div-label-span slate"></span>
            <span
              class="form_designs_colors-div-label-span faded-orange"
            ></span>
            <span
              class="form_designs_colors-div-label-span light-grey-blue"
            ></span>
          </div>
        </label>
      </div>

      <div class="form_designs_colors-div">
        <input type="radio" name="color" id="palette-4" value="pink" />
        <label for="pink">
          <div class="form_designs_colors-div-label">
            <span class="form_designs_colors-div-label-span dark-pink"></span>
            <span class="form_designs_colors-div-label-span purple"></span>
            <span class="form_designs_colors-div-label-span light-mauve"></span>
          </div>
        </label>
      </div>

      <div class="form_designs_colors-div">
        <input type="radio" name="color" id="palette-5" value="grey" />
        <label for="grey">
          <div class="form_designs_colors-div-label">
            <span class="form_designs_colors-div-label-span dark-grey"></span>
            <span class="form_designs_colors-div-label-span grey"></span>
            <span class="form_designs_colors-div-label-span light-grey"></span>
          </div>
        </label>
      </div>
    </div>
  </div>
</fieldset>
