<main class="main">
  <article class="main__article">
    <h1 class="main__article--h1">Crea tu tarjeta de visita</h1>
    <h2 class="main__article--h2">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </h2>
    <section class="main__article--section">
      <div>
        <i class="fa-regular fa-object-ungroup main__article--sectionLogo"></i>
        <p class="main__article--sectionText">Diseña</p>
      </div>
      <div>
        <i class="fa-regular fa-keyboard main__article--sectionLogo"></i>
        <p class="main__article--sectionText">Rellena</p>
      </div>
      <div>
        <i class="fa-solid fa-share-nodes main__article--sectionLogo"></i>
        <p class="main__article--sectionText">Comparte</p>
      </div>
    </section>
  </article>
  <a class="main__link" href="./last.html">Comenzar</a>
</main>
