<main class="main">
    <h1 class="main__h1">Crea tu tarjeta de visita</h1>
    <h2 class="main__h2">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
    <section class="main__section">
        <div>
            <i class="fa-regular fa-object-ungroup main__section--logo"></i>
            <p class="main__section--p">Diseña</p>
        </div>
        <div>
            <i class="fa-regular fa-keyboard main__section--logo"></i>
            <p class="main__section--p">Rellena</p>
        </div>
        <div>
            <i class="fa-solid fa-share-nodes main__section--logo"></i>
            <p class="main__section--p">Comparte</p>
        </div>
    </section>
    <a class="main__link" href="../last.html">Comenzar</a>
</main>
