<section class="card">
 <div class="reset">
     <p class="reset__text">Reset</p>
   <span class="return">
     <a href="#" class="return__ico">
        <i class="fa-solid fa-trash-can-arrow-up"></i>
     </a>
   </span>
 </div>
   <!--<article class="description">
    <figure class="description__img">
        <img src="./images/preview.jpg" alt="Foto tarjeta" class="description__img--img">
    </figure>
    <div class="description__text">
        <h2 class="description__text--title">Nombre Apellido</h2>
        <h3 class="description__text--p">Front-end developer</h3>
        <span class="social">
            <a href="#" class="social__icon">
                <i class="fa-solid fa-mobile-screen"></i>
            </a>
            <a href="https://accounts.google.com/AccountChooser/identifier?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin&theme=glif" class="social__icon">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="https://www.linkedin.com/" class="social__icon social__linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/" class="social__icon social__github">
                <i class="fa-brands fa-github-alt"></i>
            </a>  
        </span>
    </div>
   </article>--> 
</section>