<section class="card btnClean">
  <div class="resetBox">
    <button type="button" class="reset js-btnReset">
      <i class="fa-solid fa-trash-can-arrow-up reset__button"></i>
      Reset
    </button>
  </div>
  <article class="preview palete-1">
    <div class="preview__text">
      <h2 class="preview__text--title">Nombre Apellido</h2>
      <h3 class="preview__text--p">Front-end developer</h3>
    </div>

    <div class="previewPhoto js-photo"></div>
    <div class="social">
      <a href="#" class="social__icon social__phone"
        ><i class="fa-solid fa-mobile-screen"></i
      ></a>
      <a href="#" class="social__icon social__email"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a href="#" class="social__icon social__linkedin" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="#" class="social__icon social__github" target="_blank"
        ><i class="fa-brands fa-github-alt"></i
      ></a>
    </div>
  </article>
</section>
