<section class="card">
  <button type="button" class="reset js-btnReset">
     <i class="fa-solid fa-trash-can-arrow-up reset__button"></i> Reset
    </div>
    </button>
   <article class="preview">
    <div class="preview__text preview__border">
        <h2 class="preview__text--title">Nombre Apellido</h2>
        <h3 class="preview__text--p">Front-end developer</h3>
    </div>
   <div class="photo"></div>
    <div class="social">
        <a href="#" class="social__icon">
          <i class="fa-solid fa-mobile-screen"></i>
         </a>
            <a href="" class="social__icon">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="" class="social__icon social__linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="" class="social__icon social__github">
                <i class="fa-brands fa-github-alt"></i>
            </a>  
          </div>
    </article>
</section>