<fieldset class="share form_box collapsable--close">
  <legend class="share__legend js-section">
    <div class="share__legend--text">
      <i class="fa-solid fa-share-nodes" style="color: #e17634"></i>
      Comparte
    </div>
    <i class="fa-solid fa-angle-down icon collapsable__icon--right"></i>
  </legend>
  <div class="collapsable__content">
    <button type="submit" class="share__create js-create">
      <i class="fa-solid fa-address-card"></i>
      <p>Crear tarjeta</p>
    </button>

    <div class="created hidden js-click">
      <p class="created__text">La tarjeta ha sido creada:</p>
      <a href="#" class="created__link" target="_blank"
        ><span class="linkText"></span
      ></a>
      <a
        class="created__btn js-share"
        href="https://twitter.com/intent/tweet?text=Mira mi nueva tarjeta&url="
        data-size="large"
        target="_blank"
        >Compartir en <i class="fa-brands fa-x-twitter"></i
      ></a>
    </div>
  </div>
</fieldset>
