<fieldset class="share">
  <legend class="share__legend js-section"> 
      <div class="share__legend--text">
        <i class="fa-solid fa-share-nodes" style="color: #e17634;"></i>
        Comparte
      </div> 
      <i class="fa-solid fa-angle-down icon"></i>
  </legend>
  <div class="js-share">
    <button class="share__create js-create">
      <i class="fa-solid fa-address-card"></i>  
      <p>Crear tarjeta</p>
    </button>
      
    <div class="created hidden js-click">
      <p class="created__text">La tarjeta ha sido creada:</p>
      <a href="#" class="created__link">https://awesome-profile-card.com?id=A456DF0001</a>
      <div class="created__btn">
        <i class="fa-brands fa-x-twitter"></i> 
        <p>Compartir en X</p>
      </div> 
    </div>
  </div>
  

</fieldset>
